* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
}

.page-align-center {
  background: pink;
  max-width: 1590px;
  justify-content: center;
}

.links a {
  text-decoration: none;
  padding: 15px;
  color: #4d4d4d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  vertical-align: bottom;
  align-items: center;
  display: inline-flex;
}

.navigation-bar {
  display: flex;
  padding: 0px 200px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(214, 207, 207, 0.25);
}

.navigation-bar > .logo a {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 40.271px;
  text-decoration: none;
}

.navigation-bar > .logo {
  display: flex;
  width: 144.513px;
  flex-direction: column;
  justify-content: center;
}

header {
  height: 70vh;
  flex-shrink: 0;
  background-image: url(./assets/images/Rectangle\ 4.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero {
  background: #2b3427;
  position: absolute;
  left: 15px;
  top: 4px;
  transform: translate(-6%, 126%);
  float: left;
}

.hero-content-wrapper {
  padding: 20px 80px 45px 187px;
}
.hero-content-wrapper .btn {
  border-radius: 5px;
  background: linear-gradient(180deg, #57d51c 0%, #35900b 100%);
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
.hero-content-wrapper .btn-2 {
  border-radius: 5px;
  border: 1px solid #fff;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  margin-left: 5px;
}
.hero-content-wrapper span {
  color: #fff;
  font-family: Ubuntu;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 108.523%; /* 43.409px */
  letter-spacing: -0.6px;
}

.hero-content-wrapper p {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 108.523%; /* 17.364px */
  letter-spacing: -0.24px;
  margin: 23px 0px;
}

.find-van-btn {
  width: 15%;
  border-radius: 5px;
  background: #ff8c38;
  text-align: center;
  height: 49.832px;
  flex-shrink: 0;
  padding: 15px;
  cursor: pointer;
}

.find-van-btn a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.main h2 {
  color: #161616;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.main {
  padding: 15px;
  margin: 15px;
}

.about-header {
  background-image: url(./assets/images/Rectangle\ 4.jpg);
  width: 548;
  height: 233.213px;
  background-position: center;
  background-repeat: no-repeat;
}

.about-banner {
  border-radius: 5px;
  background: #ffcc8d;
  padding: 40px;
}

.about-banner h3 {
  color: #161616;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.about-banner a {
  background: black;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 25px;
  background: #252525;
  color: white;
}

/* Vans page styles */

.page-feed-section > h2 {
  font-family: "Roboto", sans-serif;
}

.tabs {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs > span {
  border-radius: 5px;
  background: #ffead0;
  padding: 6px 26px 7px 26px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.components {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 15px;
}

.title-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.title-and-price > h4 {
  font-size: 14px;
}

.title-and-price > p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(54, 54, 54);
}

.van-card > img {
  border-radius: 10px;
}

.page-feed-section {
  margin: 10px;
  padding: 10px;
}

.type-badge {
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  font-family: "Roboto", condensed;
}

.cards > a {
  text-decoration: none;
  color: black;
}

/* Caravans detail page */

.van-overview {
  margin: 10px;
  padding: 10px;
}

.van-overview.type-badge {
  margin-top: 15px;
  font-size: 14px;
}

.van-overview > img {
  border-radius: 5px;
}

.van-overview > h4 {
  font-size: 20px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

.van-overview > .price {
  font-family: "Roboto", sans-serif;
}

.van-overview > p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

/* Host page styles */

.dashboard__tabs ul {
  display: flex;
}

.dashboard__tabs ul li {
  list-style: none;
  padding: 15px;
}

.dashboard__tabs ul li a {
  text-decoration: none;
  color: #000;
}

/* vans list styling - van card */

.van-card {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px 7px;
  border-radius: 5px;
}

.van-card img {
  width: 100px;
  margin-right: 5px;
}

.van-card .van-details h3,
span {
  color: #161616;
  text-decoration: none;
  line-height: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.vans-list-container {
  display: block;
  margin: 10px 20px;
}

.vans-list-container a {
  text-decoration: none;
}

/* Host vans styling */

.van img {
  width: 160px;
  border-radius: 5px;
  margin-left: 40px;
}

.host-van-detail {
  margin-left: 20px;
  bottom: 0px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.tabs button {
  cursor: pointer;
}

.selected {
  background-color: rgb(255, 162, 41);
}

/* Login form styling */

.form .form-container {
  display: flex;
  justify-content: center;
}

.form h3 {
  text-align: center;
}

.login-btn {
  gap: 5px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

/* Header bottom tabs */

.quick-actions-bar {
  padding: 18px;
  border-top: 3px solid #6ca94f;
  background: #f2f2f2;
}
.action-tab {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  padding: 10px 0px 0px 10px;
}

.action-tab h4 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .action-tab .tab:first-child {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  padding: 0px 20px 0px 20px;;
} */
