* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

.page-align-center {
  background: pink;
  max-width: 1590px;
  justify-content: center;
}

.links a {
  text-decoration: none;
  padding: 15px;
  color: #4d4d4d;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  vertical-align: bottom;
  align-items: center;
  display: inline-flex;
}

.navigation-bar {
  display: flex;
  padding: 0px 189px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 3px 3px 0px rgba(214, 207, 207, 0.25);
}

.navigation-bar > .logo a {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 40.271px;
  text-decoration: none;
}

.navigation-bar > .logo {
  display: flex;
  width: 144.513px;
  flex-direction: column;
  justify-content: center;
}

header {
  height: 80vh;
  flex-shrink: 0;
  background-image: url(./assets/images/Rectangle\ 4.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero {
  background: #2b3427;
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero-content-wrapper {
  padding: 25px 80px 50px 187px;
}
.hero-content-wrapper .btn {
  border-radius: 5px;
  background: linear-gradient(180deg, #57d51c 0%, #35900b 100%);
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
.hero-content-wrapper .btn-2 {
  border-radius: 5px;
  border: 1px solid #fff;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  margin-left: 5px;
}
.hero-content-wrapper span {
  color: #fff;
  font-family: Ubuntu;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 108.523%; /* 43.409px */
  letter-spacing: -0.6px;
}

.hero-content-wrapper p {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 108.523%; /* 17.364px */
  letter-spacing: -0.24px;
  margin: 23px 0px;
}

.find-van-btn {
  width: 15%;
  border-radius: 5px;
  background: #ff8c38;
  text-align: center;
  height: 49.832px;
  flex-shrink: 0;
  padding: 15px;
  cursor: pointer;
}

.find-van-btn a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.main h2 {
  color: #161616;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.main {
  padding: 15px;
  margin: 15px;
}

.about-header {
  background-image: url(./assets/images/Rectangle\ 4.jpg);
  width: 548;
  height: 233.213px;
  background-position: center;
  background-repeat: no-repeat;
}

.about-banner {
  border-radius: 5px;
  background: #ffcc8d;
  padding: 40px;
}

.about-banner h3 {
  color: #161616;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.about-banner a {
  background: black;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 25px;
  background: #252525;
  color: white;
}

/* Vans page styles */

.page-feed-section > h2 {
  font-family: "Roboto", sans-serif;
}

.tabs {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding-left: 170px;
  font-family: Roboto;
  font-size: 14px;
}

.tabs > span {
  border-radius: 5px;
  border: 1px solid #ffead0;
  background: none;
  padding: 6px 26px 7px 26px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.components {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 15px;
}

.title-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.title-and-price > h4 {
  font-size: 14px;
}

.title-and-price > p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(54, 54, 54);
}

.van-card > img {
  border-radius: 10px;
}

.page-feed-section {
  margin: 10px;
  padding: 10px;
}

.type-badge {
  background-color: rgba(97, 159, 67, 1);
  padding: 10px 10px;
  display: flex;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  font-family: "Roboto", condensed;
}

.cards > a {
  text-decoration: none;
  color: black;
}

/* Caravans detail page */

.van-overview {
  margin: 10px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.details-container {
  position: relative;
}

.van-titles {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}
.van-titles .van-name {
  font-size: 25px;
  font-family: Inter;
}
.van-overview .type-badge {
  font-size: 14px;
}

.van-description-title {
  font-family: Inter;
  font-size: 16px;
  margin-bottom: 10px;
}

.van-description {
  font-family: Inter;
  font-size: 14px;
  width: 90%;
  line-height: 18px;
}
.van-description-container {
  width: 65%;
  padding: 30px 14px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #f4f4f4;
  box-shadow: -4px 5px 0px 0px #000;
  margin-bottom: 15px;
}

.van-overview > img {
  border-radius: 5px;
  width: 600px;
}

.van-overview > .price {
  font-family: "Roboto", sans-serif;
}

.container-bottom {
  width: 65%;
  position: absolute;
  padding: 26px 14px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #f4f4f4;
  box-shadow: -4px 5px 0px 0px #000;
  text-align: left;
}

.container-bottom > .find-van-btn {
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(180deg, #302e2e 0%, #000 100%);
  margin-top: 15px;
}

.breadcrumb-bar {
  padding: 20px 180px;
  background: #fafafa;
}

.find-van-btn > a {
  padding: 18px 80px;
}

.back-btn {
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
}

.container-bottom > p {
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  margin-bottom: 24px;
  font-weight: 700;
}
.container-bottom > .price {
  font-size: 35px;
  font-weight: 900;
}
/* Host page styles */

.dashboard__tabs ul {
  display: flex;
}

.dashboard__tabs ul li {
  list-style: none;
  padding: 15px;
}

.dashboard__tabs ul li a {
  text-decoration: none;
  color: #000;
}

/* vans list styling - van card */

.van-card {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px 7px;
  border-radius: 5px;
}

.van-card img {
  width: 100px;
  margin-right: 5px;
}

.van-card .van-details h3,
span {
  color: #161616;
  text-decoration: none;
  line-height: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.vans-list-container {
  display: block;
  margin: 10px 20px;
}

.vans-list-container a {
  text-decoration: none;
}

/* Host vans styling */

.van img {
  width: 160px;
  border-radius: 5px;
  margin-left: 40px;
}

.host-van-detail {
  margin-left: 20px;
  bottom: 0px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background: none;
  border: 1px solid #666363;
}

.tabs button {
  cursor: pointer;
}

.filters a {
  text-decoration: none !important;
  color: black;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
}

.selected {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

/* Login form styling */

.form .form-container {
  display: flex;
  justify-content: center;
}

.form h3 {
  text-align: center;
}

.login-btn {
  gap: 5px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

/* Header bottom tabs */

.quick-actions-bar {
  padding: 18px;
  border-top: 3px solid #6ca94f;
  background: #f2f2f2;
}
.action-tab {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px 0px 10px;
}

.tab {
  cursor: pointer;
  text-align: center;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.action-tab h4 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: inline-flex;
  align-items: center;
  text-align: center;
}

/* landing page vans styling */
.homepage__vans__wrapper {
  max-width: 1320px;
  margin: auto;
  padding-top: 35px;
}

.homepage__vans__wrapper > h3 {
  font-family: Ubuntu;
}
.recommended__vans {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  padding: 20px 0px 50px 0px;
}

.vans__feed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  padding: 20px 0px 50px 0px;
}

.landing__page__van__card {
  position: relative;
}

.landing__page__van__card > img {
  border-radius: 5px 5px 0px 0px;
}
.landing__page__van__card__details {
  position: absolute;
  left: 18px;
  top: 16px;
}

.landing__page__van__card__details > span {
  background: #f7f6f6;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  text-transform: capitalize;
}

.van-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}
.van-info h4 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 108.523%; /* 26.045px */
  letter-spacing: -0.36px;
}

.van-info p {
  color: #404042;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 108.523%; /* 16.278px */
  letter-spacing: -0.225px;
}

.rent__this__van__btn {
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(180deg, #302e2e 0%, #000 100%);
  padding: 15px 0px;
  text-align: center;
  margin-top: 15px;
}

.rent__this__van__btn a {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;

  text-decoration: none;
}
